body,html{
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

*{
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

/* header */

header{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    position: sticky;
    top: 0px;
    background-color: #ffffff;
    z-index: 10;
}

#logo{
    height: 70px;
    width: auto;
    margin: 5px;
}

.ul_header .li_header {
  list-style-type: none;
}

a:link {
  text-decoration: none;
}

header > ul {
  display: flex;
  margin: 10px 10px;
}

header > ul > a {
  padding: 15px;
  color: black;
  font-weight: 550;
  font-size: 18px;

}
header li:hover {
  color: #ff992b;
}


/* footer */

footer{
    display: flex;
    flex-direction: column;
    background-color: #121213;
}

#footerContent{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#logoFooter{
    height: 45px;
    width: auto;
    align-self: first baseline;
    margin-top: 10px;
}

.footerData{
    padding: 15px;
}

.footerData img{
    height: 35px;
    width: auto;
}

footer p, footer h4, .h4Legal{
    color: #e0dfdf;
    margin: 0px;
}

footer h4, .h4Legal{
    margin-bottom: 10px;
    font-size: 18px;
}

.h4Legal{
    margin-top: 10px;
}

.footer-credits{
    align-self: center;
    font-size: 13px;
    margin-top: 10px;
}

footer a{
    color: #e0dfdf;
}

footer a:visited, footer a:hover{
    color: #ff992b;
}
