#info-Veterinario {
	background: linear-gradient(to bottom, #ffffff, #94edf3);
	display: flex;
	justify-content: center;
	padding-top: 20px;
	padding-bottom: 10px;
	position: relative;
	overflow: hidden;
}

/* curas del banner */
.cura1,
.cura2,
.cura3,
.cura4,
.cura5,
.cura6,
.cura7 {
	position: absolute;
	z-index: 1;
}

/* curas del banner */
.cura1 {
	position: absolute;
	top: 70%;
	left: 20%;
	height: 100px;
	width: auto;
	opacity: 0.3;
}
.cura2 {
	position: absolute;
	top: 20%;
	left: 28%;
	height: 35px;
	width: auto;
	opacity: 0.2;
}
.cura3 {
	position: absolute;
	top: 0%;
	left: 60%;
	height: 70px;
	width: auto;
	opacity: 0.1;
}
.cura4 {
	position: absolute;
	top: 45%;
	left: 93%;
	height: 100px;
	width: auto;
	opacity: 0.3;
	rotate: -20deg;
}

.cura5 {
	position: absolute;
	top: 30%;
	left: 80%;
	height: 60px;
	width: auto;
	opacity: 0.2;
}
.cura6 {
	position: absolute;
	top: 40%;
	left: 0;
	height: 68px;
	width: auto;
	opacity: 0.3;
}
.cura7 {
	position: absolute;
	top: 55%;
	left: 50%;
	height: 100px;
	width: auto;
	opacity: 0.3;
	rotate: 25deg;
}

.bienvenida {
	font-family: "Roboto", sans-serif;
	font-weight: 600;
	font-size: 20px;
	color: black;
	z-index: 2;
}

.bienvenida_titulo {
	font-family: "Roboto", sans-serif;
	font-weight: bold;
	font-size: 25px;
	color: #ff992b;
	z-index: 2;
}

.servicios{
    margin-top: 20px;
}

.servicios .servicio-btn{
    background-color: #a6e0e4;
    border: 2px solid #ffffff;
    border-radius: 20px;
    padding: 15px 30px;
    margin: 0 20px; 
    font-weight: bold;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
	width: 270px;
}

.servicios .servicio-btn:hover{

    background-color: #ffffff;
    border: 2px solid #EFD8C8;

}
/* Estilo para las tarjetas de abajo */
.info-cards {
    margin-top: 30px;
}
.info-cards .card {
    background-color: #FFF7F1; 
    border: 2px solid #EFD8C8;
    border-radius: 15px; 
    padding: 20px;
    margin: 15px;
    width: 300px;
    height: 250px; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    justify-content: space-between;
}

.card-media{
	width: 300px;
    height: 117px; 
	background-color: #FFF7F1; 
    border: 2px solid #EFD8C8;
    border-radius: 15px; 
    padding: 20px;
    margin: 15px;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    justify-content: center;
}

.servicios .servicio-btn img {
    margin-right: 10px; /* Espacio entre el ícono y el texto */
    width: 30px;
    height: auto; 
}
.registro-mascota p,
.consultas-hoy p {
    margin: 0 0 10px 0;
    color: #333333; /* Color del texto */
}

.titulo-tarjeta {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

.boton {
    background-color: #ff992b; /* Fondo verde del botón */
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    color: #FFFFFF; /* Texto blanco */
    font-weight: bold;
    cursor: pointer;    
    text-decoration: none;
    text-align: center;

}

.boton:hover {
    background-color: #e2821c; /* Fondo verde más oscuro al pasar el ratón */
    color: #ffffff;
}

/* Estilo para las consultas */
.consultas-hoy .consulta {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    border-bottom: 1px solid #CCCCCC;
}

.consultas-hoy .consulta:last-child {
    border-bottom: none; /* Quitar el borde del último elemento */
}

#info-servicios{
    margin-top: 40px;
}

.boton-mascota, .boton-dueno {
    border: none;
    border-radius: 10px;
    padding: 8px 20px;
    color:black; 
    font-weight: 500;
    cursor: pointer;
    text-align: center;
	text-decoration: none;
}

.boton-mascota{
	background-color: #d3f2b2;
}

.boton-dueno{
	background-color: #c0c4f9;
}