#info-Dueno {
	background-color: #c0cde1;
	display: flex;
	justify-content: center;
	padding-top: 20px;
	padding-bottom: 10px;
}

.bienvenida {
	font-family: "Roboto", sans-serif;
	font-weight: bold;
	font-size: 20px;
	color: black;
}

.custom-margin {
	color: white;
	margin: 0;
}

.info-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 80px;
}

.info-item {
	display: flex;
	align-items: center;
	gap: 1rem;
	max-width: 300px;
	margin-bottom: 1.5rem;
}

.info-icon {
	font-size: 1.5rem;
	color: black;
}

.info-content {
	display: flex;
	flex-direction: column;
}

.info-label {
	font-weight: bold;
	margin: 0;
}

.info-content p:last-child {
	margin: 0;
}

.custom-margin .col-md-6 {
	padding-right: 90px;
	padding-left: 90px;
}

.custom-margin .col-md-10 {
	margin-bottom: 2px;
}

.input-group {
	margin-top: 40px;
	display: flex;
	align-items: center;
}

#search-input {
	height: 40px;
	width: 400px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

#search-button {
	background-color: #ff8f34;
	border: #ff8f34 1px solid;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 40px;
	width: auto;
}

#listaMascotas {
	margin-top: 40px;
	overflow-x: hidden;
}

#listaMascotas .row {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.card-mascota {
	background: linear-gradient(to bottom, #d8f8fa, #c0cde1);
	border-radius: 10px;
	width: 800px;
	margin: 0 auto;
	padding: 20px;
	margin-bottom: 30px;
}

.img-mascota {
	margin-left: 20px;
	width: 200px;
	height: 150px;
	border-radius: 20px;
	object-fit: cover;
}

.card-text-principal {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 5px;
}

#listaMascotas .card-text {
	margin-bottom: 0.5rem;
}

.info-mascota {
	margin-left: 40px;
}
