main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #ffffff, #78dcee);
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;

}

body,html{
    height: 100%;
    width: 100%;
}

.carta{
    background-color: white;
    border-radius: 15px;
    width: 50%;
    min-height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    z-index: 10;
}

#perroTriste{
    width: 250px;
    height: auto;
}

#logo {
    margin-top: 30px;
    width: 250px;
    height: auto;
  }

.carta h2{
	color: #ff8f34;
}

span{
    font-weight: 500;
}



/* curas del banner */
.cura1,
.cura2,
.cura3,
.cura4,
.cura5,
.cura6,
.cura7 {
	position: absolute;
	z-index: 1;
}

/* curas del banner */
.cura1 {
	position: absolute;
	top: 80%;
	left: 25%;
	height: 100px;
	width: auto;
	opacity: 0.7;
}
.cura2 {
	position: absolute;
	top: 20%;
	left: 40%;
	height: 35px;
	width: auto;
	opacity: 0.6;
}
.cura3 {
	position: absolute;
	top: 83%;
	left: 60%;
	height: 120px;
	width: auto;
	opacity: 0.6;
}
.cura4 {
	position: absolute;
	top: 70%;
	left: 80%;
	height: 130px;
	width: auto;
	opacity: 0.4;
	rotate: -20deg;
}

.cura5 {
	position: absolute;
	top: 50%;
	left: 80%;
	height: 50px;
	width: auto;
	opacity: 0.3;
}
.cura6 {
	position: absolute;
	top: 40%;
	left: 0;
	height: 50px;
	width: auto;
	opacity: 0.5;
}
.cura7 {
	position: absolute;
	top: 55%;
	left: 10%;
	height: 100px;
	width: auto;
	opacity: 0.5;
	rotate: 25deg;
}
.cura8 {
	position: absolute;
	top: 90%;
	left: 10%;
	height: 100px;
	width: auto;
	opacity: 0.9;
	rotate: 25deg;
}