/* Logo */

.navbar #logo {
    width: 150px;
    height: auto;
}

/* contacto rápido */

#contactoRapido {
    position: fixed;
    bottom: 20px; 
    right: 8px; 
    display: flex;
    flex-direction: column;
    z-index: 5;
}

#contactoRapido img {
    height: 50px; 
    width: auto; 
}


/* banner */

#bannerPrincipal {
	display: flex;
	flex-direction: row;
	background: linear-gradient(to bottom, #ffffff, #94edf3);
	position: relative;
	overflow: hidden;
}

.bannerInfo {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	z-index: 2;
    align-items: center;
    
}

.txtBanner {
	font-size: 40px;
	font-weight: 500;
	color: #0a152f;
	text-align: center;
	z-index: 2;
	margin-top: 40px;
    padding-right: 20px;
}

#bannerDog {
    margin: 0;
    padding: 0;
	height: auto;
	width: auto;
	margin-top: 40px;
	z-index: 5;
}

#btnBanner {
	background-color: #ff8f34;
	border-radius: 20px;
	border: 0;
	width: 200px;
	font-size: 25px;
	color: #ffffff;
	font-weight: 500;
	align-self: center;
	z-index: 2;
}

#btnBanner:hover {
	background-color: #ffffff;
	color: #ff8f34;
}

/* Media Query para pantallas pequeñas */
@media (max-width: 576px) {
	.txtBanner {
		font-size: 25px;
		margin-bottom: 20px;
		margin: 40px 10px 10px 10px;
	}
	#bannerDog {
		margin-right: 10px;
	}

	#btnBanner {
		width: 150px;
		font-size: 20px;
	}
}

/* curas del banner */
.cura1,
.cura2,
.cura3,
.cura4,
.cura5,
.cura6,
.cura7 {
	position: absolute;
	z-index: 1;
}

/* curas del banner */
.cura1 {
	position: absolute;
	top: 80%;
	left: 25%;
	height: 100px;
	width: auto;
	opacity: 0.7;
}
.cura2 {
	position: absolute;
	top: 20%;
	left: 40%;
	height: 35px;
	width: auto;
	opacity: 0.6;
}
.cura3 {
	position: absolute;
	top: 83%;
	left: 60%;
	height: 120px;
	width: auto;
	opacity: 0.6;
}
.cura4 {
	position: absolute;
	top: 70%;
	left: 80%;
	height: 130px;
	width: auto;
	opacity: 0.4;
	rotate: -20deg;
}

.cura5 {
	position: absolute;
	top: 50%;
	left: 70%;
	height: 50px;
	width: auto;
	opacity: 0.3;
}
.cura6 {
	position: absolute;
	top: 40%;
	left: 0;
	height: 50px;
	width: auto;
	opacity: 0.5;
}
.cura7 {
	position: absolute;
	top: 55%;
	left: 40%;
	height: 100px;
	width: auto;
	opacity: 0.5;
	rotate: 25deg;
}

/* servicios */

#servicios {
	text-align: center;
	margin-bottom: 50px;
}

#servicios > h2 {
	color: #59c9d1;
	font-size: 30px;
	font-weight: 550;
	margin: 30px;
}

.row.rowContainer {
	margin: 10px;
}

.card.servicio {
	background-color: #f2f4f4;
	border-radius: 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 10px;
	text-align: left;
	height: 120px;
	border: 0;
}

.card-title{
    font-size: 25px;
}
.servicioImg {
	width: 80px;
	height: auto;
}

.servicio:hover {
	background-color: #f5f795;
}

/* banner Molestias */

#bannerMolestias {
	display: flex;
	flex-direction: row;
	background-color: #ff8f34;
	position: relative;
	overflow: hidden;
}

.bannerInfo2 {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	text-align: center;
	z-index: 5;
	flex-grow: 1;
}

#bannerMolestias img {
	height: auto;
	width: auto;
	margin-top: 40px;
	z-index: 5;
}

.bannerInfo2 h2 {
	color: #ffffff;
	font-size: 40px;
	font-weight: 500;
	margin: 20px;
    margin-bottom: 0;
	text-align: center;
    white-space: nowrap;
}

.bannerInfo2 .txtBanner2 {
	color: #ffffff;
	font-size: 20px;
	margin-bottom: 30px;
}

#btnBanner2 {
	background-color: #61abc6;
	color: #ffffff;
	border-radius: 20px;
	border: 0;
	font-size: 20px;
	font-weight: 500;
	align-self: center;
	z-index: 5;
	width: 250px;

	margin-bottom: 30px;
}

#btnBanner2:hover {
	background-color: #ffffff;
	color: #61abc6;
}

.circle {
	position: absolute;
	top: -5%;
	left: 15%;
	width: 400px;
	height: 400px;
	background-color: #efb358;
	border-radius: 50%;
	z-index: 1;
}

/*Carrusel de comentarios*/

#comentarios {
	margin-top: 30px;
	margin-bottom: 30px;
	display: flex;
	justify-content: center;
}

.testimonial {
	border: 2px solid #efb358;
	border-radius: 10px;
	margin: 15px;
	max-width: 500px;
	padding: 20px;
	background: #fff;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.testimonial-header {
	display: flex;
	align-items: center;
}

.testimonial-header img {
	border-radius: 50%;
	width: 50px;
	height: 50px;
	margin-right: 15px;
	object-fit: cover;
}

.testimonial-header .pet-name {
	font-weight: bold;
}

.testimonial-header .owner-name {
	font-weight: 600;
	color: #999;
	font-size: 0.9em;
}

.separator {
	border-bottom: 2px solid #efb358;
	margin: 15px 0;
}

.stars-date {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.stars {
	display: flex;
	align-items: center;
}

.stars i {
	color: gold;
}

.date {
	color: #999;
	font-size: 0.8em;
	font-weight: 600;
}

.description {
	margin: 15px 0;
	font-size: 15px;
}

.reactions {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 15px;
}

.reactions .heart,
.reactions .flag {
	cursor: pointer;
}

.reactions .heart.liked {
	color: #ff5a5f;
}

.like-count {
	margin-left: 5px;
}

/* Agendar cita */

#agendarCita {
    background-color: #61abc6;

}


.agendarCitaImg img {
    margin-left: 50px;
    object-fit: cover; 
}

.agendarCitaForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 50px;
}

.agendarCitaForm h2 {
    margin-top: 10px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: white;
}

.agendarCitaForm .form-group label {
    display: flex;
    flex-direction: column;
    color: white;
    margin-top: 10px;
}

.agendarCitaForm button {
    padding: 10px 20px;
    background-color: #ff8f34;
    color: white;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

.agendarCitaForm button:hover {
    background-color: #0056b3;
    font-weight: bold;
}
