.card {
	width: 300px;
	height: 350px;
	background: linear-gradient(to bottom, #d8f9fa, #c0cde1);
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
	border: none;
	border-radius: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
}

.btn-secundary{
    background-color: #333;
    border: 1x solid #333;
    color: white;
	margin-left: 10px;
}

.btn-secundary:hover{
	background-color: #ffffff;
	color: #94f3d4;
	border: 1px solid #94f3d4;
}

#card-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 10px;
}

.img-mascotas {
	border-radius: 20px;
	width: 220px;
	height: 350px;
	object-fit: cover;
	overflow: hidden;
	object-position: top;
	box-sizing: border-box;
}

.card-body {
	margin-top: 10px;
	text-align: left;
	width: 100%;
	padding: 0 10px;
}

.titulo {
	margin-top: 10px;
	text-align: center;
	margin-bottom: 0;
	font-family: "Poppins", sans-serif;
	font-weight: 700;
}

.card-text strong {
	font-weight: 600;
}
#icon-eliminar,
#icon-editar {
	font-size: 10px;
	color: #ff8f34;
}

#icon-eliminar:hover,
#icon-editar:hover {
	color: #333;
}

/*search*/
#buscarMascotas {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 30px;
}

#buscarMascotas .input-group {
	margin-top: 8px;
	display: flex;
	align-items: center;
}

#search-input {
	height: 40px;
	width: 500px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

#search-button {
	background-color: #ff8f34;
	border: #ff8f34 1px solid;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 40px;
	width: auto;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

#buscarMascotas .btn-añadir {
	background-color: #94f3d4;
	border: 1px solid #7ccdb2;
	color: #000000;
	font-weight: 500;
	margin-left: 100px;
}
